{% extends 'layout.html' %} 
{% block title %}Edit TAg{% endblock %} 
{% block content %}
<h1>Edit a tag</h1>
<form action="{{ url_for('edit_tag', tag_id=tag.id) }}" method="POST">
    <div class="form-group mb-3">
        <label for="tag-name">Name</label>
        <input
            type="text"
            class="form-control"
            id="tag-name"
            name="name"
            value="{{ tag.name }}"
        />
    </div>
    <a href="{{ url_for('tag_details', tag_id=tag.id) }}" class="btn btn-info">Cancel</a>
    <button type="submit" class="btn btn-success">Edit</button>
</form>
{% endblock %}
