{% extends "layout.html" %} 
{% block title %}New Tag{% endblock %}

{% block content %}
<h1>Create a tag</h1>
<form action="{{ url_for('new_tag') }}" method="POST">
    <div class="form-group mb-3">
        <label for="tag-name">Name</label>
        <input
            class="form-control"
            id="tag-name"
            name="name"
            placeholder="Enter name for the tag"
        />
    </div>
    <a class="btn btn-outline-primary" href="{{ url_for('tags') }}">Cancel</a>
    <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock %}